<ion-header>
  <ion-toolbar color="primary">
      <ion-title>
          <a routerLink="/tabs/tab1" ><ion-icon name="arrow-back" color="light"></ion-icon></a>&nbsp;&nbsp;&nbsp;
          Education
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>VISVESVARAY TECHNOLOGICAL UNIVERSITY</ion-card-title>
    <ion-card-subtitle>MASTER OF COMPUTER APPLICATIONS (2019)</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
  <p>
   New Horizon College of Engineering, Bangalore
  </p>
  <p>
   Aggregate: 75.1%
  </p>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>BURDWAN UNIVERSITY</ion-card-title>
    <ion-card-subtitle>BACHELOR IN COMPUTER APPLICATION(H) (2016)</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
  <p>
   AMEX (An Institute for Management Excellence)
  </p>
  <p>
   Aggregate: 53%
  </p>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title> WEST BENGAL COUNCIL OF HIGHER SECONDARY EDUCATION</ion-card-title>
    <ion-card-subtitle>AUSGRAM HIGH SCHOOL (2013)</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
  <p>
  WBCHSE
  </p>
  <p>
   Aggregate: 62.2%
  </p>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title> WEST BENGAL BOARD OF SECONDARY EDUCATION</ion-card-title>
    <ion-card-subtitle>AUSGRAM HIGH SCHOOL (2011)</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
  <p>
  WBBSE
  </p>
  <p>
   Aggregate: 60.2%
  </p>
  </ion-card-content>
</ion-card>
</ion-content>
