<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Project
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Student Attendance System </ion-card-title>
      <ion-card-subtitle>(2017 February-May)</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>
          We create a basic school attendance system with privilege module. Here we can create different types of user like teaching stuff, non-teaching stuff. We can set privilege for different related classes to user (teacher). We also have features for announcement and timetable creation and view for its respective user. 
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Mobile bill generate </ion-card-title>
      <ion-card-subtitle>(2017 August-November)</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>
          We create this project as a facilities of telecom industry we are providing services like new post-paid connect registration, monthly bill generation via email, individual login to manage services and dashboard for overview all account statement. 
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Online Food Delivery  </ion-card-title>
      <ion-card-subtitle>(2018 July-August)</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>
          This is a individual project creating myself hear creating a food delivery application. Here we have three level users including super admin restaurant owner and end customer. i have some plain that I want to include in this project.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Open innovation Hackathon on “Smart village - Karnataka”  </ion-card-title>
      <ion-card-subtitle>(2018 August)</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>
        Open innovation Hackathon on “Smart village - Karnataka” This project is Agro Health, all about making village farmer’s life more easer with tech. we did servery on this particular field and found several problems which can be resolved simply by technology website link- 
        <br> <a href="https://agrohealth.000webhostapp.com/">https://agrohealth.000webhostapp.com/</a>
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
  <ion-card-header>
    <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    <ion-card-title>Participated in many workshops and seminars in college.</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p>Developed “eNHanCE 2017” <br> website link-<a href="https://enhance18.wordpress.com/">https://enhance18.wordpress.com/</a></p>
    <p>Developed “Edap 2017” <br> website link-<a href="https://edaptest.wordpress.com/">https://edaptest.wordpress.com/</a></p>
  </ion-card-content>
</ion-card>

</ion-content>
