.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.profileimg{
  margin-left: 12px;
  border-radius: 800px;
  height: 100px;
  width: 100px;
  margin-top: 30px;
}
.title{
  margin-top: -130px;
  margin-left: 110px;
}
.subtitle{
  margin-left: 110px;
}