<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Setting
    </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
 <ion-list lines="none">
      <!-- <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header> -->
      <!-- <a routerLink="/about" style="text-decoration:none">
      <ion-item>
        <ion-icon slot="start" color="medium" name="contact"></ion-icon>
        <ion-label>About</ion-label>
      </ion-item>
      </a> -->
      <a routerLink="/education" style="text-decoration:none">
      <ion-item>
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Education</ion-label>
      </ion-item>
      </a>
      <a routerLink="/skills" style="text-decoration:none">
      <ion-item >
        <ion-icon slot="start" color="medium" name="cog"></ion-icon>
        <ion-label>Skills</ion-label>
      </ion-item>
      </a>
       <a routerLink="/awards" style="text-decoration:none">
      <ion-item >
        <ion-icon slot="start" color="medium" name="trophy"></ion-icon>
        <ion-label>Awards</ion-label>
      </ion-item>
       </a>
      <a href="https://www.datafilehost.com/d/388a9850" style="text-decoration:none">
        <ion-item >
            <ion-icon slot="start" color="medium" name="download"></ion-icon>
            <ion-label>Resume</ion-label>
          </ion-item>
      </a>
    </ion-list>
</ion-content>
