<ion-header>
  <ion-toolbar color="primary">
      <ion-title>
          <a routerLink="/tabs/tab1" ><ion-icon name="arrow-back" color="light"></ion-icon></a>&nbsp;&nbsp;&nbsp;
          Skills
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
          <ion-label>IONIC</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>NODE JS</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>MONGO DB</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>BOOTSTRAP</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Azure (EC2)</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Heroku (EC2)</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>GIT</ion-label>
         </ion-item>
         <ion-item>
            <ion-label>HTML5</ion-label>
         </ion-item>
         <ion-item>
            <ion-label>CSS3</ion-label>
         </ion-item>
      </ion-list>      
</ion-content>
