<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
        <a routerLink="/tabs/tab1" ><ion-icon name="arrow-back" color="light"></ion-icon></a>&nbsp;&nbsp;&nbsp;
        Awards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-card-title><ion-icon name="trophy"></ion-icon>AWARDS & CERTIFICATIONS</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            Hackathon on “Smart village - Karnataka”
            2rd Place - NHCE - Hackathon 2018
        </ion-card-content>
      </ion-card>
</ion-content>
